{{#if isEditing}}
  <form {{action "doneEditing" on="submit"}}>
    {{#if isTypeInput}}
      {{input value=value}}
    {{else}}
      {{textarea value=value}}
    {{/if}}
  </form>
{{else}}
  <span class='edit-box' {{action "toggleEditing"}}>
    {{#if displayPlaceholder}}
      <div {{bind-attr class=placeholderClass}}>
        {{placeholder}}
      </div>
    {{else}}
      {{text}}
    {{/if}}
  </span>
  <span class="edit hide">
    {{#if editIcon}}
      <a {{action "toggleEditing"}} {{bind-attr class=editIcon}}></a>
    {{else}}
      <button {{action "toggleEditing"}} >edit</button>
    {{/if}}
  </span>
{{/if}}
