<h1>Ember-inplace-edit Demo</h1>

<h2>Single Input</h2>
{{ember-inplace-edit
  text=sampleText1
  value=sampleText1
  placeholder="Add Placeholder content"
  placeholderClass="placeholder div class"
  editIcon="Edit icon class, ex: fa fa-edit"
}}

<h3>Disabled</h3>
{{ember-inplace-edit
  text='You can\'t touch this'
  disabled=true
  editIcon="hidden"
}}

<h2>Single Textarea</h2>
{{ember-inplace-edit
  text=sampleText2
  value=sampleText2
  type="textarea"
  placeholder="Add Placeholder content"
  placeholderClass="placeholder div class"
  editIcon="Edit icon class, ex: fa fa-edit"
}}


<h2>Multiple Inputs</h2>
<h3>Users:</h3>
<ul>
  {{#each users as |user|}}
    <li>
      {{ember-inplace-edit
        text=user.name
        value=user.name
        model=user
        placeholder="User name"
        action="updateUser"
        editIcon="hidden"
      }}
    </li>
  {{/each}}
</ul>


{{outlet}}
